streamlit>=1.46
pandas>=2.0
numpy>=1.26
yfinance>=0.2.40
requests>=2.31
beautifulsoup4>=4.12
cloudscraper>=1.2.71
tvdatafeed-enhanced==2.2.1
websocket-client>=1.8.0
streamlit-cookies-controller==0.0.4
